<template>
    <app-layout title="Dashboard">

        <div class="container mt-10">
            <div class="card text-center">
               
                <div class="card-body ">
                    <form  enctype="multipart/form-data">
                        <label style="cursor: pointer;" for="file" >
                            <img v-show="!IsLoading" src="https://sairsanchez.com/generador-qr/public/img/icons/upload.gif" width="250">
                            <img v-show="IsLoading" src="https://sairsanchez.com/generador-qr/public/img/icons/uploading.gif" width="400">
                        </label>

                        <input @change="readFile()" ref="file" id="file" hidden name="file" type="file" class="form-control">
                    </form>
                </div>
                <div class="card-footer">
                    <button @click="UploadFile()" type="button"  class="btn btn-primary text-dark" :disabled="IsLoading">
                        Procesar archivo
                    </button>
                </div>
            </div>
        </div>

    </app-layout>
</template>

<script>
    import { defineComponent } from 'vue'
    import AppLayout from '@/Layouts/AppLayout.vue'
    import Welcome from '@/Jetstream/Welcome.vue'

    export default defineComponent({
        components: {
            AppLayout,
            Welcome,
        },
        data (){
            return {
                file : "",
                readOk : false,
                IsLoading: false,
            }
        },
        methods: {
            readFile(){
                this.readOk = false;
                this.file =  this.$refs.file.files[0];
                console.log(this.file);
                if(this.file.type != "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"){
                    Swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        text: 'Formato de archivo no permitido (solo .xls)',
                    
                    })
                    return false
                }

                this.readOk = true;
            },

            async UploadFile(){
               if(this.readOk){
                   this.IsLoading = true;
                   let formdata = new FormData();
                   formdata.append("file" , this.file);
                   await axios.post(this.route("qrgenerator.upload"),formdata)
                    .then(res=> {

                    })

                    this.IsLoading = false;
               }
            }
        }
    })
</script>