<template>
    <app-layout>
        <div class="row text-center">
            <Link :href="route('create-zip')" class="btn btn-primary mt-4 mb-4">
                DESCARGAR TODO
            </Link>
            <div class="col-md-3  text-center" v-for="(item , key) in employees" :key="key">
                <img class="p-2" style="width: auto;" alt="Código QR" 
                :id="item.cedula" :src="'https://sairsanchez.com/generador-qr/public/storage/img/qrcode/' + item.cedula+'.png'">
                <h1>{{item.name}} -  {{item.cedula}}</h1>
            </div>
        </div>
    </app-layout>

</template>

<script>

 import { defineComponent } from 'vue'
    import AppLayout from '@/Layouts/AppLayout.vue'
    import Welcome from '@/Jetstream/Welcome.vue'
    import { Link } from '@inertiajs/inertia-vue3';
export default ({
    components: {
        AppLayout,
        Link
    },

    props: {
        employees : Array,
        fileName: String
    },

    mounted(){
        if(this.fileName){
            window.open("https://sairsanchez.com/generador-qr/public/storage/zip/"+this.fileName);
        }
    },

    methods: {
       
    }
})
</script>
